{% extends "generic_tables.html" %}
{% load render_table from django_tables2 %}
{% block charts %}
<div class="container" style='background-color:#FFFFFF'>
    {% render_table statistics %}
</div>

<script>
function totalTextFormatter(data) {
        console.log(data);
          return '<strong class="text-primary" >Total</strong>';
      };

function sumFormatter(data) {
          var total = 0;
          field = this.field;
          $.each(data, function (i, row) {
                total += +(row[field]);
            });
          return '<strong>'+ total + '</strong>';
      };
</script>
{% endblock charts %}