{% extends "generic_tables.html" %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% block charts %}
<div class="container" style='background-color:#FFFFFF'>
    {% render_table statistics %}
</div>

<script>
function totalTextFormatter(data) {
        console.log(data);
          return '<strong class="text-primary" >Total</strong>';
      }

function sumFormatter(data) {
          var total = 0;
          field = this.field;
          $.each(data, function (i, row) {
                total += +(row[field]);
            });
          return '<strong>'+ total + '</strong>';
      }

  function iconFormater(value, row) {
        var icon = row.id % 2 === 0 ? 'glyphicon-star' : 'glyphicon-star-empty';
        return '<i class="glyphicon ' + icon + '"></i> ' + value;
    }
  function percentFormater(value, row) {
        return  value + ' %';
    }

    function priceFormatter(value) {
        // 16777215 == ffffff in decimal
        var color = '#'+Math.floor(Math.random() * 6777215).toString(16);
        return '<div  style="color: ' + color + '">' +
                '<i class="glyphicon glyphicon-usd"></i>' +
                value.substring(1) +
                '</div>';
    }

    function sumpercentFormatter(data) {
          var total = 0;
          var counter = 0;
          field = this.field;
          $.each(data, function (i, row) {
                total += +(row[field]);
                counter += 1;
            });
          return '<strong>'+ total/counter + '</strong> %';
      }
</script>
{% endblock charts %}