<div class="container">
    <nav class="pull-left copyright">
        © {% now "Y" %} <a href="http://www.unicef.org"> Unicef </a> Burundi
    </nav>
    <div class="social-area pull-right">
        <a href="https://github.com/unicefburundi" class="btn btn-social btn-simple"><i class="fa fa-github-alt fa-fw"></i> <span class="network-name"></span></a>
        <a href="https://www.facebook.com/UNICEFBurundi" class="btn btn-social btn-simple"><i class="fa fa-facebook fa-fw"></i> <span class="network-name"></span></a>
        <a href="mailto:murikiranige@gmail.com" class="btn btn-social btn-simple"><i class="fa fa-envelope fa-fw"></i> <span class="network-name"></span></a>
    </div>
</div>