{% extends "home.html" %}

{% block contents %}
    <div class="container">
        <form action="." method="post" class="recipe_form">
            {% csrf_token %}
            <h3>Group</h3>
            <div class="row">
                <div class="col-md-3">
                    <label for="province">{{form.province.label_tag}}</label>
                    <p>{{form.province.errors}}</p>
                    <p>{{form.province}}</p>
                </div>
                <div class="col-md-3">
                    <label for="commune">{{form.commune.label_tag}}</label>
                    <p>{{form.commune.errors}}</p>
                    <p>{{form.commune}}</p>
                </div>
                <div class="col-md-3">
                    <label for="colline">{{form.colline.label_tag}}</label>
                    <p>{{form.colline.errors}}</p>
                    <p>{{form.colline}}</p>
                </div>
                <div class="col-md-3">
                    <label for="day_of_meeting">{{form.day_of_meeting.label_tag}}</label>
                    <p>{{form.day_of_meeting.errors}}</p>
                    <p>{{form.day_of_meeting}}</p>
                </div>
            </div>
            <h3>Telephone(s)</h3>
            <div class="row">
            {% for form  in phonemodel_formset.forms %}
                <div class="col-md-3">
                    <label for="number">{{form.number.label_tag}}</label>
                    <p>{{form.number.errors}}</p>
                    <p>{{form.number}}</p>
                </div>
            {% endfor %}
            <a href="#"><input type="submit" name="submit" value="Submit" class="button"></a>
            </div>
        </form>
        <a href="{% url 'groups' %}" class="btn default">Back to Groups</a>
    </div>
{% endblock contents %}