{% extends "muco_layout.html" %}
{% load staticfiles   %}
{% load i18n %}
{% block javascripts %}
    <script type="text/javascript" src=" {{ STATIC_URL }}js/jquery/jquery.min.js"></script>
{% endblock javascripts %}
{% block page_title %}
    {{nawenuze_group }}
{% endblock page_title %}
{% block charts %}
<section class="groupinfo">
    <div class="group cf" >
    {% if data == 'null' %}
    <p>{% trans "No data for this group!" %}</p>
    {% else %}
         <div class="row">
                <h4>{% trans "Group:" %} {{nawenuze_group}}</h4>
                <a href= {% url "groups" %} class="pull-right" >&laquo; {% trans "Back to search" %}</a>
                <div class="container">
                    <p>
                       {% trans "Displayed below are the cumulative performances of the NaweNuze Group" %} {{nawenuze_group}}.
                    </p>
                </div>
                <div></div>

            </div>
        <div class="col-md-4 col-sm-4 panel panel-default">
            <div id="chart_panel1" class="panel-body">
            </div>
        </div>
        <div class="col-md-4 col-sm-4 panel panel-default">
            <div id="chart_panel2" class="panel-body">
            </div>
        </div>
        <div class="col-md-4 col-sm-4 panel panel-default">
            <div id="chart_panel3" class="panel-body">
            </div>
        </div>
        </div>
    {% endif %}
        <a href= {% url "groups" %}>&laquo; {% trans "Back to search" %}</a>

</section>
<script>
    $(document).ready(function() {
    var group = '{{nawenuze_group|safe}}';
    var chartData = {{data|safe}};
    // Group details charts
     var groupDetailsOptions1 = {
        chart: {
            renderTo: 'chart_panel1',
            type: 'areaspline',
            zoomType: 'x',
            borderWidth: 1,
            plotBackgroundColor: 'rgba(215, 255, 255, .9)',
            // plotShadow: true,
            // plotBorderWidth: 1
      },
        legend: {enabled: false},
        title: {text: 'Amount set aside for children '},
        subtitle: {text: 'Group of ' + group},
        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: { // don't display the dummy year
                month: '%b \'%y',
                day: '%e. %b',
                // year: '%Y. %b'
            },
            title: {
                text: 'Date'
            }
        },
     yAxis: {
            title: {
                text: 'Money in treasury \
                (Fbu)'
            }
        },
        series : [{}],
    };
    // Group details charts
     var groupDetailsOptions2 = {
        chart: {
            renderTo: 'chart_panel2',
            type: 'areaspline',
            zoomType: 'x',
            plotBackgroundColor: 'rgba(215, 240, 105, .9)',
      },
        legend: {enabled: false},
        title: {text: 'Recharged Lamps'},
        subtitle: {text: 'Group of ' + group},
        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: { // don't display the dummy year
                month: '%b \'%y',
                day: '%e. %b',
                // year: '%Y. %b'
            },
            title: {
                text: 'Date'
            }
        },
     yAxis: {
            title: {
                text: 'Unit(s) recharged by now'
            }
        },
        series : [{}],
    };

    // Group details charts
     var groupDetailsOptions3 = {
        chart: {
            renderTo: 'chart_panel3',
            type: 'areaspline',
            zoomType: 'x',
            backgroundColor: {
                linearGradient: [0, 0, 500, 500],
                stops: [
                    [0, 'rgb(255, 255, 255)'],
                    [1, 'rgb(240, 240, 255)']
                    ]
            },
      },
        legend: {enabled: false},
        title: {text: 'Sold Lamps '},
        subtitle: {text: 'Group of ' + group},
        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: { // don't display the dummy year
                month: '%b \'%y',
                day: '%e. %b',
                // year: '%Y. %b'
            },
            title: {
                text: 'Date'
            }
        },
     yAxis: {
            title: {
                text: 'Unit(s) sold by now'
            }
        },

        series : [{}],
    };

    groupDetailsOptions1.series[0].name = chartData[0].name;
    groupDetailsOptions1.series[0].data = chartData[0].data;
    groupDetailsOptions2.series[0].name = chartData[1].name;
    groupDetailsOptions2.series[0].data = chartData[1].data;
    groupDetailsOptions3.series[0].name = chartData[2].name;
    groupDetailsOptions3.series[0].data = chartData[2].data;
    var chart = new Highcharts.Chart(groupDetailsOptions1);
    var chart2 = new Highcharts.Chart(groupDetailsOptions2);
    var chart3 = new Highcharts.Chart(groupDetailsOptions3);
        });
</script>
{% endblock charts %}