{% extends "base_site.html" %}
{% load i18n %}
{% block content %}
    <div class="container">
        <h1>{% trans "Reports" %}</h1>
        <div class="list-group">
        {% for report in object_list %}
        <li class="list-group-item"><span class="badge">{{report.id}}</span> {% trans "On" %} {{report.date_updated}}, {% trans "group" %} {{report.group}} {% trans "sold" %} {{report.sold_lamps}} {% trans "lamps , recharged" %} {{report.recharged_lamps}} {% trans "lamps and earned " %}{{report.total_amount}} </li>
        {% endfor %}
        </div>
        <a href="/">{% trans "New" %}</a>
    </div>
{% endblock content %}