{% extends "home.html" %}
{% load i18n %}
{% block contents %}
    <div class="container">
        <h1>{% trans "Reports" %}</h1>
        {% for report in object_list %}
        <ul class="list-group">
            <li class="list-group-item">{{report.group.colline}}</li>
        </ul>
        <div class="list-group">
            <li class="list-group-item">
                <a href="#" class="list-group-item list-group-item-success">{{report.group.commune}}</a>
            </li>
        </div>
        {% endfor %}
        <a href="/">{% trans "New" %}</a>
    </div>
{% endblock contents %}