{% load staticfiles %}
{% load i18n %}
<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="{% url 'dashboard' %}" class="site_title"><i class="fa fa-spinner"></i> <span>CMAM</span></a>
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
    <div class="profile_pic">
      <img src="https://ui-avatars.com/api/?name={{user.first_name|title}}+{{user.last_name|title}}" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>Welcome,</span>
      <h2>{{user.first_name|title}} {{user.last_name|title}} </h2>
    </div>
  </div>
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>General</h3>
      <ul class="nav side-menu">
        <li><a><i class="fa fa-bar-chart-o"></i> Dashobard <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
            <li><a href="{% url 'groups' %}">{% trans "Groups" %}</a></li>
            <li><a href="{% url 'analytics' %}">{% trans "Analytics" %}</a></li>
            <li><a href="/explorer/">{% trans "Downloads" %}</a></li>
          </ul>
        </li>
        {% if user.is_staff %}
        <div class="dropdown btn-group">
        <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">{% trans "Create" %}
          <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
           <li class=""><a href="{% url 'report:submit_group' %}">{% trans "Group" %}</a></li>
           <li><a href="{% url 'report:report_create' %}">{% trans "Report" %}</a></li>
         </ul>
        </div>
        {% endif %}
        <li><a href="{% url "landing" %}"><i class="fa fa-laptop"></i> Landing Page <span class="label label-success pull-right">Coming Soon</span></a></li>
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
  <div class="sidebar-footer hidden-small">
    <a data-toggle="tooltip" data-placement="top" title="Logout" href="{% url "logout" %}">
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
  </div>
  <!-- /menu footer buttons -->
</div>
