{% extends "base_site.html" %}
{% load staticfiles %}
{% load i18n %}

{% block ng_app %}ng-app="myApp"{% endblock ng_app%}
{% block ng_controller %}ng-controller="ListController"{% endblock ng_controller %}
{% block content %}
    <div class="row">
       <li class=""><a href="/report/add/group/">{% trans "Register Group" %}</a></li>
        <div class="search">
            <h1>{% trans "NaweNuze Groups" %}</h1>
            <label >{% trans "search:" %} </label>
            <input ng-model="query" placeholder="search for groups" autofocus>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
    <div class="col-md-6">
        <ul class="grouplist">
        <li class="list-group cf" ng-repeat="group in groups | filter : query | orderBy: groupOrder:direction">
        {% verbatim firstblock%}
        <a href="/report/group/details/{{group.id}}">
            <div class="list-group-item info">
                <h2 id="id_{{group.colline}">
                 {{group.commune}}- {{group.colline}} 
                </h2>
            </div>
        </a>
        {% endverbatim firstblock%}
        </li>
        </ul>
        </div>
    <div class="col-md-3"></div>
    </div>

{% endblock content%}

{% block extra_javascripts %}
<script src="{% static "js/angular/angular.js" %}"></script>
<script src="{% static "js/angular/angular-resource.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/highchart/highcharts-ng.min.js"  %}"></script>
<script src="{% static "js/script.js"  %}"></script>
{% endblock extra_javascripts %}