{% load staticfiles %}

<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap/bootstrap.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/umuco.css" %}">
</head>
<body ng-app="{% block ng_app %}myApp{% endblock %}">
<div class="content" ng-controller="{% block ng_controller %}MyController{% endblock %}">
{% block content %}
    <div class="row">
        <div class="search">
            <h1>Group Directory</h1>
            <label >search: </label>
            <input ng-model="query" placeholder="search for groups" autofocus>
            <label class="formgroup">by:
              <select ng-model="groupOrder">
                <option value="name">Name</option>
                <option value="location">Location</option>
              </select>
            </label>

            <label class="formgroup">
              <input type="radio" ng-model="direction" name="direction" checked>
              ascending
             </label>
            <label class="formgroup">
              <input type="radio" ng-model="direction" name="direction" value="reverse">
              descending
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
    <div class="col-md-6">
        <ul class="grouplist">
        <li class="group cf" ng-repeat="group in groups | filter : query | orderBy: groupOrder:direction">
        {% verbatim firstblock%}
        <a href="/report/group/{{group.name}}">
            <div class="info">
                <h2>
                 {{group.name}}
                </h2>
            </div>
        </a>
        {% endverbatim firstblock%}
        </li>
        </ul>
        </div>
    <div class="col-md-3"></div>
    </div>

{% endblock %}
</div>
<script src="{% static "js/angular/angular.js" %}"></script>
<script src="{% static "js/angular/angular-resource.min.js" %}"></script>
<script src="{% static "js/script.js" %}"></script>
</body>
</html>