<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Umuco - {% block page_title %}
            Statistics
        {% endblock page_title %} </title>
        <script type="text/javascript" src=" {{ STATIC_URL }}js/jquery/jquery.min.js"></script>
        <script type="text/javascript" src=" {{ STATIC_URL }}js/jquery/jquery-ui.min.js"></script>

        {% block javascripts %}
        <!-- Pivotable js -->
        <script type="text/javascript" src=" {{ STATIC_URL }}js/pivot/pivot.min.js"></script>
        {% endblock javascripts %}
        {% block stylesheets %}
        <!-- Pivotable Css -->
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/pivot/pivot.min.css">
        {% endblock stylesheets %}

        <!-- Bootstrap core CSS -->
        <link href="{{ STATIC_URL }}css/bootstrap/bootstrap.css" rel="stylesheet">

        <!-- TODC Bootstrap core CSS -->
        <link href="{{ STATIC_URL }}css/bootstrap/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="{{ STATIC_URL }}css/googleplus/styles.css">
    </head>
    <body>
<nav class="navbar navbar-fixed-top header">
    <div class="col-md-12">
        <div class="navbar-header">

          <a href="#" class="navbar-brand">Umuco</a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse1">
          <i class="glyphicon glyphicon-search"></i>
          </button>

        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse1">
          <form class="navbar-form pull-left">
              <div class="input-group" style="max-width:470px;">
                <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                <div class="input-group-btn">
                  <button class="btn btn-default btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
              </div>
          </form>
          <ul class="nav navbar-nav navbar-right">
             <li><a href="http://127.0.0.1:8000" target="_ext">Home+</a></li>
             <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-bell"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="#"><span class="badge pull-right">40</span>Link</a></li>
                  <li><a href="#"><span class="badge pull-right">2</span>Link</a></li>
                  <li><a href="#"><span class="badge pull-right">0</span>Link</a></li>
                  <li><a href="#"><span class="label label-info pull-right">1</span>Link</a></li>
                  <li><a href="#"><span class="badge pull-right">13</span>Link</a></li>
                </ul>
             </li>
             <li><a href="#" id="btnToggle"><i class="glyphicon glyphicon-th-large"></i></a></li>
             <li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
           </ul>
        </div>
     </div>
</nav>
<div class="navbar navbar-default" id="subnav">
    <div class="col-md-12">
        <div class="navbar-header">

          <a href="#" style="margin-left:15px;" class="navbar-btn btn btn-default btn-plus dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-home" style="color:#dd1111;"></i> Home <small><i class="glyphicon glyphicon-chevron-down"></i></small></a>
          <ul class="nav dropdown-menu">
              <li><a href="#"><i class="glyphicon glyphicon-user" style="color:#1111dd;"></i> Groups</a></li>
              <li><a href="#"><i class="glyphicon glyphicon-dashboard" style="color:#0000aa;"></i> Exports</a></li>
          </ul>

          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>

        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse2">
          <ul class="nav navbar-nav navbar-right">
             <li class="active"><a href="#">Muco</a></li>
             <li><a href="#loginModal" role="button" data-toggle="modal">Login</a></li>
             <li><a href="#aboutModal" role="button" data-toggle="modal">About</a></li>
           </ul>
        </div>
     </div>
</div>

<!--main-->
<div class="container" id="main">
   <div class="row">
   <div class="col-md-3 col-sm-6">
        <div class="panel panel-default">
           <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Sumarized calculation</h4></div>
            <div class="panel-body">
              <img src="//placehold.it/150x150" class="img-circle pull-right"> <a href="#">Free @Bootply</a>
            </div>
         </div>
    </div>
    <div class="col-md-6 col-sm-6">
         <div class="panel panel-default">
           <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Trends</h4></div>
            <div class="panel-body">
              <ul class="list-group">
              <li class="list-group-item">All Groups</li>
              <li class="list-group-item">By Groups</li>
              <li class="list-group-item">By Location</li>
              </ul>
            </div>
         </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="panel panel-default">
           <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Sumarized calculation</h4></div>
            <div class="panel-body">
              <img src="//placehold.it/150x150" class="img-circle pull-right"> <a href="#">Free @Bootply</a>
            </div>
         </div>
    </div>
  </div><!--/row-->

  <hr>


    {% block charts %}
      <div class="row">
            <div class="col-md-9 col-sm-9 ">
            <div id="output" class="panel panel-default" lass="table-responsive">
              <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Trends</h4></div>
                <div class="panel-body">
                  <ul class="list-group">
                  <li class="list-group-item">All Groups</li>
                  <li class="list-group-item">By Groups</li>
                  <li class="list-group-item">By Location</li>
                </ul>
              </div>
            </div>
            </div>
            <div class="col-md-3 col-sm-6">
        <div class="panel panel-default">
           <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Sumarized calculation</h4></div>
            <div class="panel-body">
              <img src="//placehold.it/150x150" class="img-circle pull-right"> <a href="#">Free @Bootply</a>
            </div>
         </div>
    </div>
</div><!--row-->
    {% endblock charts %}
     <!--playground-->

    <br>

    <div class="clearfix"></div>

    <hr>
    <div class="col-md-12 text-center"><p><a href="http://www.bootply.com/download/90113" target="_ext">Download Google Plus Style Template</a><br><a href="http://bootply.com/templates" target="_ext">More Bootstrap Templates by @Bootply</a></p></div>
    <hr>

  </div>
</div><!--/main-->

<!--login modal-->
<div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h2 class="text-center"><img src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100" class="img-circle"><br>Login</h2>
      </div>
      <div class="modal-body">
          <form class="form col-md-12 center-block">
            <div class="form-group">
              <input type="text" class="form-control input-lg" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="password" class="form-control input-lg" placeholder="Password">
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-lg btn-block">Sign In</button>
              <span class="pull-right"><a href="#">Register</a></span><span><a href="#">Need help?</a></span>
            </div>
          </form>
      </div>
      <div class="modal-footer">
          <div class="col-md-12">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
          </div>
      </div>
  </div>
  </div>
</div>


<!--about modal-->
<div id="aboutModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h2 class="text-center">About</h2>
      </div>
      <div class="modal-body">
          <div class="col-md-12 text-center">
            <a href="http://www.bootply.com/DwnjTNuvVt">This Bootstrap Template</a><br>was made with <i class="glyphicon glyphicon-heart"></i> by <a href="http://bootply.com/templates">Bootply</a>
            <br><br>
            <a href="https://github.com/iatek/bootstrap-google-plus">GitHub Fork</a>
          </div>
      </div>
      <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">OK</button>
      </div>
  </div>
  </div>
</div>
    <!-- script references -->
        <script src=" {{ STATIC_URL }}js/jquery/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap/bootstrap.min.js"></script>
        <script src=" {{ STATIC_URL }}js/googleplus/scripts.js"></script>
    </body>
</html>