    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Umuco - {% block page_title %}
            Statistics
            {% endblock page_title %} </title>
         <link rel="shortcut icon" type="image/x-icon" href="{{STATIC_URL}}favicon.ico">
            <script type="text/javascript" src=" {{ STATIC_URL }}js/jquery/jquery.min.js"></script>
            <script type="text/javascript" src=" {{ STATIC_URL }}js/jquery/jquery-ui.min.js"></script>
            <script type="text/javascript" src=" {{ STATIC_URL }}js/angular/angular.js"></script>
            <script type="text/javascript" src=" {{ STATIC_URL }}js/angular/angular-ui.min.js"></script>
            <script type="text/javascript" src=" {{ STATIC_URL }}js/moment/moment.js"></script>
            <script type="text/javascript" src=" {{ STATIC_URL }}js/moment/moment-timezone.js"></script>
            <script type="text/javascript" src=" {{ STATIC_URL }}js/highchart/highcharts.js"></script>
            <script type="text/javascript" src=" {{ STATIC_URL }}js/highchart/exporting.js"></script>
            <script type="text/javascript" src=" {{ STATIC_URL }}js/bootstrap/bootstrap-select.js"></script>
            {% block javascripts %}
            <!-- Pivotable js -->
            <script type="text/javascript" src=" {{ STATIC_URL }}js/pivot/pivot.min.js"></script>
            <!--Highchart-ng-->
            <script type="text/javascript" src=" {{ STATIC_URL }}js/highchart/highcharts-ng.min.js"></script>

            {% endblock javascripts %}
            {% block stylesheets %}
            <!-- Pivotable Css -->
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/pivot/pivot.min.css">
            {% endblock stylesheets %}

            <!-- Bootstrap core CSS -->
            <link href="{{ STATIC_URL }}css/bootstrap/bootstrap.css" rel="stylesheet">

            <!-- TODC Bootstrap core CSS -->
            <link href="{{ STATIC_URL }}css/bootstrap/bootstrap.min.css" rel="stylesheet">

            <!-- Custom styles for this template -->
            <link rel="stylesheet" href="{{ STATIC_URL }}css/googleplus/styles.css">
        </head>
        <body>
            <nav class="navbar navbar-fixed-top header">
              <div class="col-md-12">
                <div class="navbar-header">

                  <a href="{% url 'home' %}" class="navbar-brand">Umuco</a>
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse1">
                    <i class="glyphicon glyphicon-search"></i>
                </button>

            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse1">
              <form class="navbar-form pull-left">
                <div class="input-group" style="max-width:470px;">
                  <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                  <div class="input-group-btn">
                    <button class="btn btn-default btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'home' %}"  target="_ext">Home+</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-user"></i> {% if user.is_authenticated %}
            {{ user.name}}
          {% endif %} </a></li>
      </ul>
  </div>
</div>
</nav>
<div class="navbar navbar-default" id="subnav">
    <div class="col-md-12">
      <div class="navbar-header">
      {% if user.is_authenticated %}
        <a href="/" style="margin-left:15px;" class="navbar-btn btn btn-default btn-plus dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-home" style="color:#dd1111;"></i> Download <small><i class="glyphicon glyphicon-chevron-down"></i></small></a>
        <ul class="nav dropdown-menu">
          <li><a href="{% url 'umuco:download_reports' %}"><i class="glyphicon glyphicon glyphicon-export" style="color:#0000aa;"></i> All reports</a></li>
      </ul>
      {% endif %}
      {% if user.is_authenticated %}
        <div  class="nav navbar-right" id="navbar-collapse3">
    <ul class="nav navbar-nav navbar-right">
    <li class="active"><a href="{% url 'analytics' %}">Analytics</a></li>
     <li class=""><a href="{% url 'groups' %}">Groups</a></li>
     <li class=""><a href="{% url 'home' %}">Graphics</a></li>
     {% if user.is_staff %}
       <li class=""><a href="/report/add/group/">Register Group</a></li>
     {% endif %}
 </ul>
</div>
      {% endif %}

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>

  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse2">
    <ul class="nav navbar-nav navbar-right">
     <li class="active"><a href="#">Muco</a></li>
     {% if user.is_authenticated %}
       <li><a href="{% url 'logout' %}?next=/" role="button" data-toggle="modal">Logout</a></li>
       {% else %}
       <li><a href="#loginModal" role="button" data-toggle="modal">Login</a></li>
     {% endif %}
     <li><a href="#aboutModal" role="button" data-toggle="modal">About</a></li>
 </ul>
</div>
</div>
</div>

{% if user.is_authenticated %}
<!--main-->
<div class="container" id="main">
{% block charts %}
<div class="row" ng-app="myapp">
    <div ng-controller="myctrl">
        <div class="row">
            <div class="row">
            <div class="col-md-9 col-sm-9 ">
              <highchart id="chart1" config="chartConfig1" ></highchart>
              </div>
            <div class="col-md-3 col-sm-3 ">
              <div class="panel panel-default">
                      <div class="well">
                        <div class="input-group">
                          <span class="input-group-addon" id="basic-addon1">
                            Title
                        </span>
                        <input class="form-control" ng-model="chartConfig1.title.text">
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1">
                        Subtitle
                    </span>
                    <input  class="form-control" ng-model="chartConfig1.subtitle.text">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">
                        Width
                    </span>
                    <input class="form-control" ng-model="chartConfig1.size.width">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">
                        Height
                    </span>
                    <input  class="form-control" ng-model="chartConfig1.size.height">
                </div>
            </div>
            <hr>
            <div class="btn-group">
                <div class="input-group-addon">
                  Default Type
                  <select class="form-control" ng-model="chartConfig1.options.chart.type" ng-options="t.id as t.title for t in chartTypes">
                  </select>
              </div>
            </div>
            <div class="input-group-addon" >
                Stack
                <select class="form-control " ng-model="chartConfig1.options.plotOptions.series.stacking" ng-options="t.id as t.title for t in chartStack">
                </select>
            </div>
            </div>
          </div>
          </div>
          <hr>
          <div class="row">
          <div class="col-md-9 col-sm-9 ">
              <highchart id="chart2" config="chartConfig2" ></highchart>
            </div>
            <div class="col-md-3 col-sm-3 ">
              <div class="panel panel-default">
          <div class="well">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">
                Title
            </span>
            <input class="form-control" ng-model="chartConfig2.title.text">
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">
            Subtitle
        </span>
        <input  class="form-control" ng-model="chartConfig2.subtitle.text">
    </div>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">
            Width
        </span>
        <input class="form-control" ng-model="chartConfig2.size.width">
    </div>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">
            Height
        </span>
        <input  class="form-control" ng-model="chartConfig2.size.height">
    </div>
</div>
<hr>
<div class="btn-group">
    <div class="input-group-addon">
      Default Type
      <select class="form-control" ng-model="chartConfig2.options.chart.type" ng-options="t.id as t.title for t in chartTypes">
      </select>
  </div>
</div>
<div class="input-group-addon" >
    Stack
    <select class="form-control " ng-model="chartConfig2.options.plotOptions.series.stacking" ng-options="t.id as t.title for t in chartStack">
    </select>
</div>
</div>
          </div>
          </div>
          <hr>
          <div class="row">
          <div class="col-md-9 col-sm-9 ">
              <highchart id="chart3" config="chartConfig3" ></highchart>
          </div>
          <div class="col-md-3 col-sm-3 ">
            <div class="panel panel-default">
          <div class="well">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">
                Title
            </span>
            <input class="form-control" ng-model="chartConfig3.title.text">
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">
            Subtitle
        </span>
        <input  class="form-control" ng-model="chartConfig3.subtitle.text">
    </div>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">
            Width
        </span>
        <input class="form-control" ng-model="chartConfig3.size.width">
    </div>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">
            Height
        </span>
        <input  class="form-control" ng-model="chartConfig3.size.height">
    </div>
</div>
<hr>
<div class="btn-group">
    <div class="input-group-addon">
      Default Type
      <select class="form-control" ng-model="chartConfig3.options.chart.type" ng-options="t.id as t.title for t in chartTypes">
      </select>
  </div>
</div>
<div class="input-group-addon" >
    Stack
    <select class="form-control " ng-model="chartConfig3.options.plotOptions.series.stacking" ng-options="t.id as t.title for t in chartStack">
    </select>
</div>
</div>
    </div>
        </div>
          {% if user.is_superuser %}
            <div class="well">
              <label for="prettyJSON"><input id="prettyJSON" type="checkbox" ng-model="prettyJSON"> Pretty JSON</label>
          </div>
          <div class="well">
              <pre ng-show="prettyJSON"> {% verbatim %}
                {{ chartConfig1 | json }}
                {% endverbatim %}
            </pre>
            <pre ng-show="!prett{% verbatim %}{{ chartConfig1 | json }}{% endverbatim %}yJSON"> {% verbatim %}
                {{ chartConfig1 }}
                {% endverbatim %}
            </pre>
        </div>
          {% endif %}
    </div>
    </div>
</div>
</div><!--row-->
{% endblock charts %}
<!--playground-->

<br>

<div class="clearfix"></div>



</div>
</div><!--/main-->
{% else %}

{% endif %}

<!--login modal-->
<div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              ×
          </button>
          <h2 class="text-center">
              <br>
              Login
          </h2>
      </div>
      <div class="modal-body">
  <form class="form col-md-12 center-block" method="post" action="{% url 'login' %}"  role="form">
    {% csrf_token %}
    <div class="form-group">
    <label for="login__username">{{ form.username.label_tag }}</label>
      <div for="email">{{ form.username.label_tag }}</div>
      {{ form.username }}
  </div>
  <div class="form-group">
    <label for="login__password">{{ form.password.label_tag }}</label>
    <input type="password" class="form-control" id="login__password" value="{{ form.password }}" placeholder="ex. thisisnotgoogleplus" />
    <div for="pwd"><a href="{% url 'password_reset' %}">(forgot password)</a></div>
  </div>
    <input type="submit" value="Login" class="btn btn-sm btn-success"/>
    <input type="hidden" name="next" value="{{ next }}" />
    <span class="pull-right">
        <a href="#">
                Register
        </a>
    </span>
    <span>
      <a href="#">
            Need help ?
        </a>
    </span>
</form>
</div>
<div class="modal-footer">
    <div class="col-md-12">
      <button class="btn" data-dismiss="modal" aria-hidden="true">
        Cancel
    </button>
</div>
</div>
</div>
</div>
</div>


<!--about modal-->
<div id="aboutModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              ×
          </button>
          <h2 class="text-center">
              About
          </h2>
      </div>
      <div class="modal-body">
        <div class="col-md-12 text-center">
          <a href="http://www.bootply.com/DwnjTNuvVt">
            This Bootstrap Template
        </a>
        <br>w
        as made with
        <i class="glyphicon glyphicon-heart">

        </i>
        by
        <a href="http://bootply.com/templates">
            Bootply
        </a>
        <br>
        <br>
        <a href="https://github.com/iatek/bootstrap-google-plus">GitHub Fork
        </a>
    </div>
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">
      OK
  </button>
</div>
</div>
</div>
</div>
<!-- script references -->
<script src=" {{ STATIC_URL }}js/jquery/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap/bootstrap.min.js"></script>
<script src=" {{ STATIC_URL }}js/googleplus/scripts.js"></script>
<script type="text/javascript" src=" {{ STATIC_URL }}js/app.js"></script>
</body>
</html>