{% extends "pivotable.html" %}
{% block page_title %}
Report
{% endblock page_title %}

{% block javascripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.js"></script>
    <script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
    <script type="text/javascript" src="http://code.highcharts.com/modules/exporting.js"></script>
{% endblock javascripts %}

{% block charts %}
<div id="container" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"></div>
<script type="text/javascript">
var data = [];
var raba = {{timess|safe}};
for (var i = 0; i < raba.length; i+=2) {
    data.push([parseInt(moment(raba[i+1]).format("x")), raba[i]] );
};
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 'Amount set aside for Children'
        },
        subtitle: {
            text: 'Irregular time data collected'
        },
        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: { // don't display the dummy year
                month: '%b \'%y',
                day: '%e. %b',
                // year: '%Y. %b'
            },
            title: {
                text: 'Date'
            }
        },
        yAxis: {
            title: {
                text: 'Montant in Fb'
            },
            min: 0
        },
        tooltip: {
            headerFormat: '<b>{series.name}</b><br>',
            pointFormat: '{point.x:%e. %b}: {point.y} Fb'
        },

        plotOptions: {
            spline: {
                marker: {
                    enabled: true
                }
            }
        },
        series: [
            {
                name:'Montant',
                data: data
            }]
    });
});
</script>

{% endblock charts %}